body {
    background-color: brown;
}

.slider-container {
    background-color: green;
    width: 80%;
    height: 400px;
    margin: 0 auto;
    cursor: grab;
}

.Trend {
    width: 30%;
}

.card {
    margin: 0 auto;
    height: 400px;
    width: 90%;
    background-color: violet;
}



/**-------------------------------------------------------------------------------------------------------------*/




.slider-container-2 {
    background-color: rgb(119, 128, 0);
    width: 80%;
    height: 400px;
    margin: 0 auto;
    cursor: grab;
    margin-top: 2%;
}

.card-2 {
    margin: 0 auto;
    height: 300px;
    width: 90%;
    background-color: violet;
}







